.*
!/.git*
*.pyc
dwords.p
data/*
cdec/bin/*
cdec/conll_output/*
cdec/cache/*
cdec/misc_notes/*
cdec/target/*
!cdec/target/*.jar
cdec/results/*
cdec/trained_models/*
cdec/ignore.txt
cdec/Pipfile
java_assets/*
perl_assets/*
sentence.txt
sentence.txt.info.xml
